/* start landing */
.landing {
  height: calc(50vh - 70px);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}

.landing .container {
  margin-top: 5%;
  width: 100%;
}

.landing .container .text {
  margin-bottom: 40px;
}

.landing .container .text h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-family: var(--Lalezar);
}

.landing .container .text h2 span {
  color: var(--main-color);
}

.landing .container .text p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--secondary-color);
  font-family: var(--Alexandria);
}

.landing .container .logInBtns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.landing .container .logInBtns a {
  width: calc(50% / 2 - 10px);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Alexandria);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.landing .container .logInBtns .owner {
  background-color: var(--third-color);
  color: white;
  position: relative;
  overflow: hidden;
}

.landing .container .logInBtns .owner:hover::before {
  left: 120%;
}

.landing .container .logInBtns .owner::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.8s ease;
}

.landing .container .logInBtns .driver {
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

.landing .container .logInBtns .driver:hover {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 4px 8px var(--main-color);
}

@media (max-width: 767px) {
  .landing {
    height: calc(70vh - 70px);
  }
  .landing .container {
    margin-top: 6%;
  }
  .landing .container .text h2 {
    font-size: 22px;
  }
  .landing .container .text p {
    font-size: 16px;
  }
  .landing .container .logInBtns {
    flex-direction: column;
    gap: 15px;
  }
  .landing .container .logInBtns a {
    width: 100%;
    justify-content: center;
  }
}

/* start features section */
.features {
  padding: 40px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color);
}

.features .card {
  width: calc(80% / 3 - 50px);
  height: 170px;
  padding: 20px;
  border: 1px solid rgba(61, 60, 60, 0.315);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.features .card.active i {
  font-size: 30px;
  color: var(--main-color);
}

.features .card i {
  font-size: 25px;
  color: var(--secondary-color);
  transition:
    color 0.3s ease,
    font-size 0.3s ease;
}

.features .card h3 {
  font-size: 20px;
  color: var(--secondary-color);
  font-family: var(--Lalezar);
}

.features .card p {
  font-size: 14px;
  color: var(--fourth-color);
  font-family: var(--Alexandria);
}

@media (max-width: 991px) {
  .features {
    flex-direction: column;
    gap: 30px;
  }
  .features .card {
    width: 100%;
  }
}

/* start why choose us */
.whu {
  padding: 50px 15px;
  background-color: var(--bg-color);
}

.whu .container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.whu .container .mMenu {
  text-align: right;
  width: calc(80% / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
}

.whu .container .ownerMenu {
  border-color: rgba(37, 37, 104, 0.5);
  background-color: rgba(37, 37, 104, 0.1);
}

.whu .container .driverMenu {
  border-color: rgba(255, 102, 0, 0.5);
  background-color: rgba(255, 102, 0, 0.1);
}

.whu .container .mMenu .icon i {
  color: white;
}

.whu .container .ownerMenu .icon i {
  font-size: 40px;
  background-color: var(--third-color);
  padding: 15px;
  border-radius: 50%;
}

.whu .container .driverMenu .icon i {
  font-size: 40px;
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 50%;
}

.whu .container .mMenu .whuCardTitle {
  font-size: 22px;
  font-weight: normal;
  color: var(--secondary-color);
  font-family: var(--Alexandria);
}

.whu .container .whuCardMenu {
  font-size: 16px;
  color: var(--fourth-color);
  font-family: var(--Alexandria);
  line-height: 2.5;
}

.whu .container .whuCardMenu li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

@media (max-width: 767px) {
  .whu .container {
    flex-direction: column;
    gap: 100px;
  }
  .whu .container .mMenu {
    width: 100%;
    align-items: start;
    text-align: center;
  }
  .whu .container .mMenu .whuCardTitle {
    font-size: 18px;
  }
  .whu .container .driverMenu .icon i,
  .whu .container .ownerMenu .icon i {
    font-size: 22px;
  }
  .whu .container .mMenu .whuCardMenu li {
    font-size: 13px;
  }
}

/* start how it works */
.hiw {
  padding: 50px 15px;
  background-color: var(--bg-color);
}

.hiw .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hiw .container .forOwners,
.hiw .container .forDrivers {
  width: calc(80% / 2);
  height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.hiw .container .forOwners .head h3,
.hiw .container .forDrivers .head h3 {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--Alexandria);
}

.hiw .container .forOwners .head h3 {
  color: var(--third-color);
}

.hiw .container .forDrivers .head h3 {
  color: var(--main-color);
}

.hiw .container .forOwners ol,
.hiw .container .forDrivers ol {
  color: var(--fourth-color);
  font-family: var(--Alexandria);
  line-height: 2.5;
  padding: 0 25px;
}
.hiw .container .forOwners ol li h3,
.hiw .container .forDrivers ol li h3 {
  font-size: 16px;
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--Alexandria);
}

@media (max-width: 767px) {
  .hiw .container {
    flex-direction: column;
    gap: 10px;
  }
  .hiw .container .forOwners,
  .hiw .container .forDrivers {
    width: 100%;
  }
  .hiw .container .forOwners ol li h3,
  .hiw .container .forDrivers ol li h3 {
    font-size: 14px;
  }
  .hiw .container .forOwners ol,
  .hiw .container .forDrivers ol {
    padding: 10px;
  }
  .hiw .container .forOwners ol li span,
  .hiw .container .forDrivers ol li span {
    font-size: 12px;
  }
}

/* start let's begin section */
.letsBegin {
  padding: 50px 15px;
  text-align: center;
  background-color: var(--bg-color);
  background-color: var(--third-color);
}

.letsBegin #beginHeading {
  font-size: 28px;
  color: white;
  font-family: var(--Alexandria);
}

.letsBegin #beginParagraph {
  font-size: 16px;
  color: white;
  margin-top: 10px;
  font-family: var(--Alexandria);
}

.letsBegin .container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.letsBegin .container a {
  width: calc(80% / 2 - 10px);
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--Alexandria);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.letsBegin .container .ownerbtn {
  background-color: var(--fourth-color);
  color: white;
  overflow: hidden;
  position: relative;
}

.letsBegin .container .ownerbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.8s ease;
}

.letsBegin .container .ownerbtn:hover::before {
  left: 120%;
}

.letsBegin .container .ownerbtn:hover {
  background-color: var(--secondary-color);
}

.letsBegin .container .driverbtn {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 767px) {
  .letsBegin .container {
    flex-direction: column;
    gap: 15px;
  }
  .letsBegin .container a {
    width: 100%;
  }
}

/* start footer */
footer {
  padding: 20px 15px;
  text-align: center;
  background-color: var(--bg-color);
  font-family: var(--Alexandria);
  color: var(--fourth-color);
  font-size: 14px;
}

/* end home style */
